{{- define "content" -}}


<div class="hidden">
    {{ if .Site.Params.notes_preamble}}
    {{ $preamble:= .Site.Params.notes_preamble }}
    {{ if fileExists $preamble }}
    $$ {{ readFile $preamble }} $$
    {{ else }}
    <h1 style="background: yellow; color: red;"> Could not find preamble: {{ $preamble }}</h1>
    {{ end }}
    {{ end }}
</div>

{{ if .Params.note_tags }}
<ul class="note-tags">
    {{ range .Params.note_tags }}
    <li class="note-tag"><a href="/note_tags/{{ . }}">#{{ . }}</a></li>
    {{ end }}
</ul>
{{ end }}

<div class="note">

    {{ if .Content }}
    <div class="content-margin">
        {{- partial "content.html" . -}}
    </div>
    {{ end }}


    {{if .Params.backlinks}}
    {{ $this := . }}
    {{ $root := .Parent.Path }}
    {{ $site := .Site }}
    <hr>
    <h3>Backlinks</h3>
    <ul>
        {{range .Params.backlinks}}
        <li><a href="{{ . }}">{{ with $site.GetPage . }} {{.Title}} {{ end }}</a> </li>
        {{end}}
    </ul>
    {{end}}

</div>

<script>
    var coll = document.getElementsByClassName("callout-button");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function () {
            this.classList.toggle("active");
            this.nextElementSibling.classList.toggle("collapsed");
        });
    }
</script>

{{- end -}}
