* {
    transition: background-color 150ms ease-out;
}

body {
  font:1.2em/1.62 sans-serif;
  @include text-base;
}

html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
  font-family: system-ui,-apple-system,segoe ui,Roboto,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji;
}

code, kbd, pre, .code {
  font-family: ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,liberation mono,courier new,monospace;
  @include text-sm
}

main {
  margin-left: auto;
  margin-right: auto;
  padding: 1.5rem;
  text-align: justify;
}

h1, h2, h3, h4, h5, h6 {
  font:1.2em/1.62 serif;
  font-weight: 500;
  margin-top: 2rem;
  margin-bottom: 1rem;
  text-align: left;
}

.note h1 {
  padding-bottom: 0px;
  border-bottom: none;
  text-align: left;
}

.note h2 {
  padding-top: 0px;
  border-top: none;
  text-align: left;
}

.term-items {
  text-align: left;
}

.youtube {
    padding-top: 56.25%; // 16:9 Aspect Ratio
    width: 100%; 
    position: relative;
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        border-radius: 8px;
    }
}

h3 {
  @include text-xl;
}

h4 {
  @include text-lg;
}

h5 {
  @include text-base;
}

h6 {
  @include text-sm;
}

.figure {
  margin: 100;
}

img {
  max-width: 100%;
}

input {
  background-color: var(--color-background);
  color: var(--color-text);
  border: none;
}

mark {
  background-color: var(--color-background-mark);
}

details > summary {
  cursor: zoom-in;
}

details[open] > summary {
  cursor: zoom-out;
}

.content-margin {
  @include my-8;
}

.hidden {
  display: none;
}

@media screen and (min-width: $sm_min_width) {
  main {
    width: $sm_main_width;
  }
}

@media screen and (min-width: $md_min_width) {
  main {
    width: $md_main_width;
  }
}

@media screen and (min-width: $lg_min_width) {
  main {
    width: $lg_main_width;
  }
}

@media screen and (min-width: $xl_min_width) {
  main {
    width: $xl_main_width;
  }
}

@media screen and (min-width: $xxl_main_width) {
  main {
    width: $xxl_main_width;
  }
}

.caption {
    margin-top: 0.5rem;
    text-align: center;
    font-style: italic;
}

.note-tags {
    list-style: none;
    padding-inline-start: 0;
    margin: 0px 0px;
}

.note-tags li {
    display: inline-block;
}

.note-tags a {
    background: var(--color-accent);
    border-radius: 15px;
    padding: 4px 10px;
    margin: 3px 0;
    font-size: 11pt;
    color: var(--color-text);
}


.callout-type-example {
    background: var(--callout-example);
    color: var(--callout-title-example);
}

.callout-type-tip {
    background: var(--callout-tip);
    color: var(--callout-title-tip);
}

.callout-type-note {
    background: var(--callout-note);
    color: var(--callout-title-note);
}

.callout-type-video {
    background: var(--callout-video);
    color: var(--callout-title-video);
}

.callout {
    width: 100%;
    padding: 0px 0;
    margin: 10px 0;
    border-radius: 8px;
}

.callout .callout-title {
    padding: 8px 0;
    margin: 0;
    width: 100%;
    text-indent: 15px;
    border: none;
    text-align: left;
    outline: none;
    // border-radius: 5px;
}

.callout-button {
    border-radius: 8px;
    cursor: pointer;
}

.callout-button:hover {
    background-color: #555;
}

.callout-content {
    color: var(--color-text);
    padding: 18px;
    padding-top: 0;
    overflow: hidden;
}
