* {
    transition: background-color 150ms ease-out;
}

body {
  font:1.2em/1.62 sans-serif;
  @include text-base;
}

html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
  font-family: system-ui,-apple-system,segoe ui,Roboto,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji;
}

code, kbd, pre, .code {
  font-family: ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,liberation mono,courier new,monospace;
  @include text-sm
}

main {
  margin-left: auto;
  margin-right: auto;
  padding: 1.5rem;
  text-align: justify;
}

h1, h2, h3, h4, h5, h6 {
  font:1.2em/1.62 serif;
  font-weight: 500;
  margin-top: 2rem;
  margin-bottom: 1rem;
  text-align: left;
}

.note {
    text-align: left;
    h1 {
        padding-bottom: 0px;
        border-bottom: none;
        text-align: left;
    }

    h2 {
        padding-top: 0px;
        border-top: none;
        text-align: left;
    }
}


.term-items {
  text-align: left;
}

.youtube {
    padding-top: 56.25%; // 16:9 Aspect Ratio
    width: 100%; 
    position: relative;
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
    }
}

h3 {
  @include text-xl;
}

h4 {
  @include text-lg;
}

h5 {
  @include text-base;
}

h6 {
  @include text-sm;
}

.figure {
  margin: 100;
}

img {
  max-width: 100%;
}

input {
  background-color: var(--color-background);
  color: var(--color-text);
  border: none;
}

mark {
  background-color: var(--color-background-mark);
}

details > summary {
  cursor: zoom-in;
}

details[open] > summary {
  cursor: zoom-out;
}

.content-margin {
  @include my-8;
}

.hidden {
  display: none;
}

@media screen and (min-width: $sm_min_width) {
  main {
    width: $sm_main_width;
  }
}

@media screen and (min-width: $md_min_width) {
  main {
    width: $md_main_width;
  }
}

@media screen and (min-width: $lg_min_width) {
  main {
    width: $lg_main_width;
  }
}

@media screen and (min-width: $xl_min_width) {
  main {
    width: $xl_main_width;
  }
}

@media screen and (min-width: $xxl_main_width) {
  main {
    width: $xxl_main_width;
  }
}

.caption {
    margin-top: 0.5rem;
    text-align: center;
    font-style: italic;
}

.note-tags {
    list-style: none;
    padding-inline-start: 0;
    margin: 0px 0px;

    li {
        display: inline-block;
    }

    a {
        background: var(--color-accent);
        border-radius: 15px;
        padding: 4px 10px;
        margin: 3px 0;
        font-size: 11pt;
        color: var(--color-text);
    }
}



.callout-type-example {
    background: var(--callout-example);
    color: var(--callout-title-example);
}

.callout-type-tip {
    background: var(--callout-tip);
    color: var(--callout-title-tip);
}

.callout-type-note {
    background: var(--callout-note);
    color: var(--callout-title-note);
}

.callout-type-video {
    background: var(--callout-video);
    color: var(--callout-title-video);
}

.callout {
    --corner-radius: 8px;
    --padding-v: 8px;
    --padding-h: 15px;

    width: 100%;
    padding: 0px 0;
    margin: 10px 0;
    border-radius: var(--corner-radius);
    overflow: hidden;

    .callout-title {
        padding: var(--padding-v) var(--padding-h);
        margin: 0;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
    }
}

.callout-button {
    cursor: pointer;
}

.callout-button:hover {
    background-color: #555;
}

.callout-content-wrapper {
    display: grid; // For transition effect
    grid-template-rows: 1fr;
    transition: 100ms ease-out;
}

.callout-content-wrapper.collapsed {
    padding: 0px;
    grid-template-rows: 0fr;
}

.callout-content {
    color: var(--color-text);
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    overflow: hidden;


    p, ol, ul, li, h1, h2, h3, h4, h5, h6 {
        margin: 0 var(--padding-h);
    }

}
